<header>
    <div class="page-header row">
        <h1 class="col-sm-8">{{page.html_title}}</h1>
        <div id="search-2" class="widget col-sm-4 widget_search">
            <form action="http://lgreco.eu/en/" method="get" class="form-inline">
                <fieldset>
                    <div class="input-group">
                        <input type="text" name="s" id="search" placeholder="Search" value="" class="form-control"> <span class="input-group-btn">
                            <button type="submit" class="btn searchbg"></button>
                        </span>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</header>